/.vs/*
/DanbooruAutoSaver/bin/*
/DanbooruAutoSaver/obj/*
/DanbooruAutoSaver/Properties/PublishProfiles/FolderProfile.pubxml.user
/DanbooruAutoSaver/appsettings.Production.json
/DanbooruAutoSaver/DanbooruAutoSaver.csproj.user
